body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f6f6f6;
    font-family: Arial, sans-serif;
    background-image: url("../img/bg.png");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
}

.register-container {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1.0);
    padding: 40px;
    width: 360px;
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 28px;
}

.register-form .form-group {
    margin-bottom: 16px;
    text-align: left;
}

.register-form label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-size: 16px;
    font-weight: bold;
}

.register-form input[type="text"],
.register-form input[type="password"] {
    width: calc(100% - 24px);
    padding: 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
    font-size: 16px;
}

.register-form button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 20px;
    background-color: #02507e;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
}

.register-form button:hover{
    background-color: #012f4b;
}

.links {
    text-align: center;
    margin-top: 5px;
}

.links a {
    text-decoration: none;
    color: #02507e;
    margin-left: 15px;
    margin-right: 15px;
    transition: color 0.3s ease;
}

.links a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: #012f4b;
}

#checkCode {
    width: calc(100% - 110px);
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

img {
    vertical-align: middle;
    width: 100px;
    height: auto;
    border-radius: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
}
.err_msg {
    color: red;
    font-size: 14px;
    margin-left: 10px;
}